@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Satisfy&display=swap');

:root {
  --color-primary: #799f0c;
  --color-secondary: #ffe000;
  --color-white: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Kalam', cursive;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
}

input,
button {
  all:unset;
}

.btn {
  font-size: 2rem;
  padding-block: 0.6em;
  padding-inline: 1.2em;
  border-radius: 0.6rem;
  cursor: pointer;
  opacity: 0.9;
  transform: scale(0.98);
  transition: opacity 200ms, transform 200ms;
}

.btn:hover {
  opacity: 1;
  transform: scale(1);
}

#app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#todos {
  width: min(90%, 50rem);
  font-size: 2rem;
  background-color: #fff;
  padding: 3.2rem 2.4rem 0;
  border-radius: 0.5em;
  overflow: hidden;
}

.todos__generator {
  display: flex;
  align-items: center;
  border-bottom: 0.5rem inset var(--color-secondary);
  padding-bottom: 0.6rem;
}

.todos__generator .form-group {
  --padding: 0.5em;
  position: relative;
  flex: 1;
}

#todos__input {
  padding-block-start: var(--padding);
  display: block;
  width: 100%;
}

.todos__label {
  position: absolute;
  bottom: var(--padding);
  left: 0;
  font-family: "Satisfy", cursive;
  font-size: 2.4rem;
  padding-inline-start: 1em;
  transition: padding 300ms, bottom 300ms;
  will-change: padding, bottom;
}

#todos__input:is(:focus, :not(:placeholder-shown)) + .todos__label {
  bottom: calc(100% - var(--padding));
  padding-inline-start: 0;
}

.todos__generator button {
  background-color: var(--color-primary);
  color: #f5f5f5;
  margin-left: 0.4rem;
}

.todos__list {
  padding: 2rem;
  overflow: auto;
  height: 60vh;
}

.todos__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  padding-block: 0.5em;
  cursor: pointer;
}

.todos__list li + li {
  border-top: 0.2rem solid var(--color-secondary);
}

.todos__list p {
  pointer-events: none;
}

.todos__list li.completed p {
  text-decoration: line-through;
  opacity: 0.5;
}

.todos__list i {
  padding: 0.5rem;
  transition: box-shadow 200ms;
}

.todos__list i:hover {
  box-shadow: 2px 2px 6px 0 #ddd, -1px -1px 4px 0 #ddd;
}

.todos__list::-webkit-scrollbar {
  display: none;
}