@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-bg: #686de0;
  --color-btn: #9f68e0;
  --color-title: #808080;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  line-height: 1.4;
}

body {
  background-color: var(--color-bg);
}

button {
  all: unset;
}

#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- --- --- */
.dad-jokes {
  width: min(60rem, 90vw);
  text-align: center;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 2em;
  border-radius: 1rem;
}

.title {
  font-size: 2.4rem;
  color: var(--color-title);
  margin-block-end: 2em;
}

.joke {
  font-size: 2rem;
  line-height: 1.5;
  margin-block-end: 2em;
}


.get-joke-btn {
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--color-btn);
  padding: 1em;
  border-radius: 1.2rem;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 200ms;
}

.get-joke-btn:hover {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
}