@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#app {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-text {
  color: rgba(87, 96, 111, 0.7);
  font-size: 2.4rem;
  position: relative;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 300ms ease,
  transform 300ms ease,
  text-shadow 300ms ease;
}

.link-text:hover {
  color: rgb(87, 96, 111);
  transform: translate(0, -0.5px);
  text-shadow: 0 1px 1px rgb(87, 96, 111);
}

.link-text::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6b81;
  border-radius: 2px;
  height: 3px;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

.link-text:hover::after {
  transform: scaleX(1);
}